 <div class="table-responsive">
    <table class="table table-bordered table align-middle" id="tb_nomgen">
      <thead>
        <tr>
          <th scope="col">TotServ</th>
          <th scope="col">TotSen</th>
          <th scope="col">TotRed</th>
          <th scope="col">TotTaxis</th>
          <th scope="col">TotEsp</th>
          <th scope="col">Salario</th>
          <th scope="col">Bonos</th>
          <th scope="col">Deducciones</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of nomgenList">
          <td>{{t.totServ}}</td>
          <td>{{t.totSencillos}}</td>
          <td>{{t.totRedondos}}</td>
          <td>{{t.totTaxis}}</td>
          <td>{{t.totEsp}}</td>
          <td>{{t.salario}}</td>
          <td>{{t.bonos}}</td>
          <td>{{t.deducciones}}</td>
          <td>{{t.total}}</td>
        </tr>
      </tbody>
    </table>
    </div>
