<div class="row">
  <div class="col-lg-12">
    <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-3 col-sm-6">
            <label>Fecha Inicial</label>
            <p></p>
            <input type="date" name="fechainicial" [(ngModel)]="fechainicial">
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-sm-6">
            <label>Fecha Final</label>
            <p></p>
            <input type="date" name="fechafinal" [(ngModel)]="fechafinal">
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-sm-6">
            <button type="button" class="btn btn-primary" (click)="OnFechaAccept()">Aceptar</button>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-sm-6">
            <button type="button" class="btn btn-danger" (click)="SavePDF()">PDF</button>
          </div>
        </div>



        <!--<mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-form-field color="primary">
              <mat-label>Fecha Inicial</mat-label>
              <input matInput [matDatepicker]="picker" name="fechainicial" [(ngModel)]="fechainicial">
              <mat-datepicker-toggle matIconSuffix [for]="picker" class="dodgerblue-icon"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field color="primary">
              <mat-label>Fecha Inicial</mat-label>
              <input matInput [matDatepicker]="picker2" name="fechafinal" [(ngModel)]="fechafinal">
              <mat-datepicker-toggle matIconSuffix [for]="picker2" class="dodgerblue-icon"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile>
            <button type="button" class="button" mat-raised-button color="primary" (click)="OnFechaAccept()">Aceptar</button>
          </mat-grid-tile>

          <mat-grid-tile>
            <button type="button" class="button-red" mat-raised-button color="primary" (click)="SavePDF()">PDF</button>
          </mat-grid-tile>

        </mat-grid-list>-->
        <div *ngFor="let t of list_trabajador">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-6">
              <span class="span">Empleado: {{t.nombreCompleto}}</span>
              <input type="hidden" id="empleado" name="empleado" value={{t.nombreCompleto}}>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <span class="span">Puesto: {{t.puesto}}</span>
            </div>
          </div>
        </div>


        <div *ngFor="let t of list_trabajador">
          <table class="table" hidden id="tb_empleado">
            <thead>
              <tr>
                <th scope="col">Empleado</th>
                <th scope="col">Puesto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{t.nombreCompleto}}</td>
                <td>{{t.puesto}}</td>
              </tr>
            </tbody>
          </table>
        </div>



        <!--<div class="overflow">-->

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Resumen</span>
            <app-nomgen [nomgenList]="list_nomgen"></app-nomgen>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Servicios</span>
            <app-servicios [serviciosList]="list_servicios"></app-servicios>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Tickets</span>
            <app-tickets [ticketsList]="list_tickets"></app-tickets>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Bonos</span>
            <app-bonos [bonosList]="list_bonos"></app-bonos>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12">
            <span>Deducciones</span>
            <app-deducciones [deduccionesList]="list_deducciones"></app-deducciones>
          </div>
        </div>
      </div>
    </div>
  </div>
