@media only screen and (max-width: 600px) {
  .row {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .col-12 {
    margin-top: 3%;
  }
}

@media only screen and (min-width: 760px) {
  .row {
    margin-top: 3%;
  }
}

label{
    font-weight:bold !important;
    font-size:medium !important;
}

span {
  font-weight: bold !important;
  font-size: medium !important;
}

