
  <div class="table-responsive">
    <table class="table table-bordered table align-middle" id="tb_tickets">
      <thead>
        <tr>
          <th scope="col">Unidad</th>
          <th scope="col">Lts</th>
          <th scope="col">RendReq</th>
          <th scope="col">KmRec</th>
          <th scope="col">Rend</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of ticketsList">
          <td>{{t.unidad}}</td>
          <td>{{t.litros}}</td>
          <td>{{t.rendReq}}</td>
          <td>{{t.kmGpsRec}}</td>
          <td>{{t.rendGps}}</td>
        </tr>
      </tbody>
    </table>
  </div>
