<table mat-table [dataSource]="ticketsList" class="mat-elevation-z8 demo-table" id="tb_tickets">

  <!--<ng-container matColumnDef="idTicketCheckin">
    <th mat-header-cell *matHeaderCellDef>idTicketCheckin</th>
    <td mat-cell *matCellDef="let element"> {{element.idTicketCheckin}} </td>
  </ng-container>-->

  <ng-container matColumnDef="unidad">
    <th mat-header-cell *matHeaderCellDef> unidad </th>
    <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
  </ng-container>

  <ng-container matColumnDef="litros">
    <th mat-header-cell *matHeaderCellDef> litros </th>
    <td mat-cell *matCellDef="let element"> {{element.litros}} </td>
  </ng-container>

  <ng-container matColumnDef="rendReq">
    <th mat-header-cell *matHeaderCellDef> rendReq </th>
    <td mat-cell *matCellDef="let element"> {{element.rendReq}} </td>
  </ng-container>

  <ng-container matColumnDef="kmGpsAnt">
    <th mat-header-cell *matHeaderCellDef> kmGpsAnt </th>
    <td mat-cell *matCellDef="let element"> {{element.kmGpsAnt}} </td>
  </ng-container>

  <ng-container matColumnDef="kmGps">
    <th mat-header-cell *matHeaderCellDef> kmGps </th>
    <td mat-cell *matCellDef="let element"> {{element.kmGps}} </td>
  </ng-container>

  <ng-container matColumnDef="kmGpsRec">
    <th mat-header-cell *matHeaderCellDef> kmGpsRec </th>
    <td mat-cell *matCellDef="let element"> {{element.kmGpsRec}} </td>
  </ng-container>

  <ng-container matColumnDef="rendGps">
    <th mat-header-cell *matHeaderCellDef> rendGps </th>
    <td mat-cell *matCellDef="let element"> {{element.rendGps}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

