<div class="table-responsive">
  <table class="table table-bordered table align-middle" id="tb_serv">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Ruta</th>
        <th scope="col">Turno</th>
        <th scope="col">Tipo</th>
        <th scope="col">Unidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of serviciosList">

        <td>{{t.fservicio}}</td>
        <td>{{t.cliente}}</td>
        <td>{{t.ruta}}</td>
        <td>{{t.turno}}</td>
        <td>{{t.tipo}}</td>
        <td>{{t.unidad}}</td>
      </tr>

      </tbody>
    </table>
</div>





